/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Header Styles */
h2 {
    color: #34495e;
    font-weight: 300;
    font-size: 2.2em;
    text-align: center;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #7f8c8d;
}
a:hover {
  color: #6633ff;
}

/* Paragraph Styles */

p {
    color: #7f8c8d;
    word-spacing: 0.05em;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 1000;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
}
.nav .name a{
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white;
  border-bottom: 3px solid #42b983;
}

header {
  text-align: center;
  background: url('images/gent.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}

img.profile-image{
  filter: grayscale(100%);
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  position: relative;
}
header .profile-image:hover {
  transform-origin: 50% 0;
  animation: swinging 1s ease-in-out forwards;
  filter: grayscale(0%);
}
main.flex {
    display: flex;
    flex-flow: column;
    align-items: center;
}
@keyframes swinging{
    0%{transform: scale(1.1) rotate(10deg);border-color: #42b983;}
    50%{transform: scale(1.2) rotate(-5deg);border-color: #34495e;}
    75%{-webkit-transform: scale(1.1) rotate(10deg);border-color: #34495e;}
    100%{border-color: #42b983;}
}
.tag {
  display: table;
  margin: 10px auto;
  padding: 0.4em 1em;
  border-radius: 2em;
  color: #34495e;
  background-color: #fff;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #34495e;
}
.location {
  background-color: #34495e;
  color: #fff;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #42b983;
}
.polaroids-gallery {
    padding-top: 20px;
    align-items: center;
    display: flex;
    flex-flow: column;
}
h1 {
    color: #2c3e50;
    text-align: center;
}
button{
    background-color: #2c3e50;
    border-radius: 2em;
    color: white;
    border-style: none;
    padding: 15px;
    float: right;
    font-weight: bold;
    text-transform: uppercase;
}
button:hover{
    cursor: pointer;
}
input[type="text"], input[type="email"], textarea {
    padding: 11px;
    width: 100%;
    border: 2px solid #2c3e50;
    border-radius: 2em;
    margin-bottom: 1.2em;
}
::-webkit-input-placeholder {
  font-weight: bold;
  color: #7f8c8d;
}
ul.contact-details > li {
    padding-top: 1.2em;
}
ul.contact-details > li > i.fa {
    padding-right: 20px;
    vertical-align: middle;
}
ul.contact-details {
    list-style: none;
    padding: 0;
    color: #2c3e50;
}
ul.polaroids {
    list-style: none;
    padding: 0;
}
ul.polaroids > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
}
ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: "Marker Felt",sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-transform: rotate(-2deg);
    -webkit-transition: -webkit-transform .15s linear;
    -moz-transform: rotate(-2deg);
}
ul.polaroids img {
    display: block;
    width: 190px;
    margin-bottom: 12px;
}
ul.polaroids a:after {
  content: attr(title);
}
/* By default, we tilt all our images -2 degrees */
ul.polaroids a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}

/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a {
  position: relative;
  top: 8px;
  right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a {
  position: relative;
  top: 3px;
  left: -5px;
}

/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

/* On hover, darken the shadows a bit */
ul.polaroids a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}


ul.polaroids li a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #42b983;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}
.skills li:nth-child(odd) {
  background: #2c3e50;
}
hr{
  border: 1px solid #2c3e50;
}
ul.social {
    padding: 0;
}
.social li {
  display: inline-block;
  margin: 2px;
}
ul.hobbies {
  padding: 0;
  text-align: center;
}

.hobbies li {
  border-radius: 2em;
  border: 2px solid #42b983;
  display: block;
  background: transparent;
  color: #7f8c8d;
  padding: 5px 10px;
  margin: 10px;
}

.hobbies li:nth-child(odd) {
  border-color: #2c3e50;
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: #2c3e50;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear: both;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
.top {
  padding-top: 60px;
}


/* Styles for larger screens */
@media screen and (min-width: 980px) {

  .flex {
      display: -ms-flexbox;
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
  .polaroids {
      flex-flow: row wrap;
  }
  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }
  main.flex {
      flex-flow: row;
  }
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
